In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
            .builder \
            .appName("Python Spark SQL basic example") \
            .config("spark.some.config.option", "some-value") \
            .getOrCreate()

In [10]:
df = spark.read.csv('/Users/danielscheer/Downloads/titanic.csv', header=True, inferSchema=True)

In [11]:
df.printSchema()

root
 |-- survived: integer (nullable = true)
 |-- pclass: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: double (nullable = true)
 |-- sibsp: integer (nullable = true)
 |-- parch: integer (nullable = true)
 |-- ticket: string (nullable = true)
 |-- fare: double (nullable = true)
 |-- cabin: string (nullable = true)
 |-- embarked: string (nullable = true)

In [12]:
df.show()

+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|survived|pclass|                name|   sex| age|sibsp|parch|          ticket|   fare|cabin|embarked|
+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [13]:
df.select(df['name'], df['age'], df['sex']).show(5)

+--------------------+----+------+
|                name| age|   sex|
+--------------------+----+------+
|Braund, Mr. Owen ...|22.0|  male|
|Cumings, Mrs. Joh...|38.0|female|
|Heikkinen, Miss. ...|26.0|female|
|Futrelle, Mrs. Ja...|35.0|female|
|Allen, Mr. Willia...|35.0|  male|
+--------------------+----+------+
only showing top 5 rows

In [18]:
df.describe('name').show()

+-------+--------------------+
|summary|                name|
+-------+--------------------+
|  count|                 891|
|   mean|                null|
| stddev|                null|
|    min|"Andersson, Mr. A...|
|    max|van Melkebeke, Mr...|
+-------+--------------------+

In [19]:
df.describe('age').show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|               714|
|   mean| 29.69911764705882|
| stddev|14.526497332334035|
|    min|              0.42|
|    max|              80.0|
+-------+------------------+

In [20]:
df.filter(df['age']>21).describe('age').show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|               510|
|   mean| 36.10980392156863|
| stddev|11.513198284384076|
|    min|              22.0|
|    max|              80.0|
+-------+------------------+

In [21]:
df.groupBy("sex").count().show()

+------+-----+
|   sex|count|
+------+-----+
|female|  314|
|  male|  577|
+------+-----+

In [25]:
df.select('name').distinct().show()

+--------------------+
|                name|
+--------------------+
|"Watt, Mrs. James...|
|Young, Miss. Mari...|
|Parr, Mr. William...|
|Soholt, Mr. Peter...|
|Goldsmith, Mrs. F...|
|    Dimic, Mr. Jovan|
|Harper, Mr. Henry...|
|Reuchlin, Jonkhee...|
|Fahlstrom, Mr. Ar...|
|Hosono, Mr. Masabumi|
| Partner, Mr. Austen|
|Van Impe, Miss. C...|
|Bjornstrom-Steffa...|
|    Saad, Mr. Khalil|
| Sirota, Mr. Maurice|
|Slemen, Mr. Richa...|
|McCormack, Mr. Th...|
|Potter, Mrs. Thom...|
|Palsson, Miss. St...|
|"Nakid, Miss. Mar...|
+--------------------+
only showing top 20 rows

In [38]:
df.filter(~df['name'].contains('Mr.')).count() / float(df.count())

0.41975308641975306